:root{

  --clr-orange: hsl(4, 100%, 67%);
  --clr-DarkSlateGrey: hsl(234, 29%, 20%);
  --clr-CharcoalGrey: hsl(235, 18%, 26%);
  --clr-Grey: hsl(231, 7%, 60%);
  --clr-White: hsl(0, 0%, 100%);

  --clr-pink: hsl(355, 99%, 67%);
  
  --ff-base: "Roboto", sans-serif;
  --fs-base: 1rem;
  --fs-large: 3.563rem;
  --fw-base: 400;
  --fw-bold: 700;

}

body{
  display: grid;
  place-content: center;
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  color: var(--clr-DarkSlateGrey);
  background-color: var(--clr-CharcoalGrey);
}

.sign-up{
  display: flex;
  margin: 1rem;
  padding: 1rem;
  max-width: 935px;
  max-height: 640px;
  background-color: var(--clr-White);
  border-radius: 1rem;
  align-items: center;
}

.main-form{
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1.5rem;
}

h1  {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}


ul {
  padding: 0;
}

ul li{ 
  display: flex;
}

ul li::before{
  content: url("../assets/images/icon-list.svg");
  padding-right: 1rem;
}

.input-flex{
  display: grid;
}

.util-flex{
  display: flex;
  justify-content:space-between;
}

.error-message{
  color: var(--clr-orange);
  font-size: 12px;
  font-weight: var(--fw-bold);
}

label{
  font-size: 12px;
  font-weight: var(--fw-bold);
}



input {
  height: 55px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 0.25rem;
  border: 1px solid var(--clr-Grey);
  cursor: pointer;
}

input::placeholder {
  color: var(--clr-Grey);
}

.submit-button{
  height: 55px;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--clr-DarkSlateGrey);
  color: var(--clr-White);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.submit-button:hover{
  background-image: linear-gradient(to right,var(--clr-pink), var(--clr-orange));
}


.success-message{
  max-width: 505px;
  height: 520px;
  background-color: var(--clr-White);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 3rem 4rem;
  gap: 1.5rem;
}

.success-message img{
  width: 62px;
  height: 62px;
}

.success-message h1{
  font-size: 55px;
}

.success-message button{
  height: 55px;
  border: none;
  background-color: var(--clr-DarkSlateGrey);
  color: var(--clr-White);
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.success-message button:hover{
  background-image: linear-gradient(to right,var(--clr-pink), var(--clr-orange));
}

.submitted-email{
  font-weight: var(--fw-bold);
}

.hidden{
  display: none;
}

@media (max-width: 825px) {

  .sign-up{
    max-width: 736px;
    max-height: 640px;
    margin: unset;
  }

  .image-ilustration{
    min-width: 50%;
  }

  .main-form{
    padding: 1.5rem;
  }

  h1  {
    font-size: 3rem;    
  }
  
  .hidden{
    display: none;
  }
}

@media (max-width: 649px) {
  .sign-up{
    max-width: 375px;
    max-height: unset;
    display: flex;
    flex-direction: column-reverse;
    padding: unset;
    margin-top: 0;
  }

  h1  {
    font-size: 2.5rem; 
  }

  .image-ilustration{
    content: url(../assets/images/illustration-sign-up-mobile.svg);
    border-radius: 1rem;
  }

  .hidden{
    display: none;
  }
}

@media (max-width: 375px) {

  body{   
    place-content: initial;
    background-color: var(--clr-White);
  }
  
  .sign-up{
    border-radius: unset;
    margin: unset;
  }

  .image-ilustration{   
    border-radius: unset;
  }

  .success-message{
    max-width: 375px;
    padding: 8rem 1.5rem 0 1.5rem;  
  }
  .success-message h1{
    font-size: 2.25rem;
  }

  .hidden{
    display: none;
  }
}

@media (max-width: 320px) {

  .sign-up{
    width: 320px;   
  } 

  .hidden{
    display: none;
  }
}